[submodule "third_party/crabpath"]
path = crabpath
url = https://github.com/AutoCookies/crabpath.git
[submodule "cheesebrain"]
	path = cheesebrain
	url = https://github.com/AutoCookies/cheesebrain.git
[submodule "crabtable"]
	path = crabtable
	url = https://github.com/AutoCookies/crabtable.git
[submodule "cheeseoffice"]
	path = cheeseoffice
	url = https://github.com/AutoCookies/cheeseoffice.git
