[submodule "third_party/crabpath"]
path = crabpath
url = https://github.com/AutoCookies/crabpath.git
[submodule "cheesebrain"]
	path = cheesebrain
	url = https://github.com/AutoCookies/cheesebrain.git
